/* English Font ==> [IBM Plex Sans]*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
/* Arabic Font ==> [IBM Plex Sans Arabic] */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============================Global Styles=============================== */
li {
  list-style: none;
  line-height: 1.5em;
}

section {
  margin: 1.5rem;
}

h1,
h2,
h3 {
  padding: 8px 2px;
}

p {
  line-height: 1.75rem;
}

/*---------------- SCROLLBAR Styles-------------------- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: hsl(240, 4.8%, 4.1%);
  /* box-shadow: 0 0 10px #000 inset; */
}

::-webkit-scrollbar-thumb {
  /* background-color: var(--mainLinkColor-dark); */
  border-radius: 20px;
  height: 90px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: #424344;
  /* background-color: transparent; */
  /* border-top: 20px solid hsla(219, 100%, 50%, 1);
  border-bottom: 20px solid hsla(219, 100%, 50%, 1) */
  /* border-top: 60px solid hsla(240, 4.8%, 4.1%, 1);
  border-bottom: 60px solid hsla(240, 4.8%, 4.1%, 1) */
  /*or any height and color you want*/
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-link-color);
  border-radius: 20px;
} */
/* Global Varibales */
:root {
  --main-background-color: #131415;
  --main-text-color: #fff;
  --secondaryTextColor-dark: #cbc8d0;
  --main-link-color: #0da2b8;
  --mainLinkColor-dark: rgb(30, 190, 214);
  --main-border-color: rgb(218, 218, 218);
  --mainBorderColor-dark: #2b3031;
}

body {
  /* font-family: "Roboto Condensed", sans-serif; */
  /* font-family: "Source Code Pro", monospace; */
  /* font-family: "Fira Code", monospace; */
  font-family: "IBM Plex Sans", sans-serif;
  /* height: auto; */
  background: var(--main-background-color);
  color: var(--main-text-color);
}

:lang(ar) {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.main-container {
  max-width: 800px;
  padding-top: 5px;
  margin: 0px auto;
}

header {
  display: flex;
  align-items: center;
  height: 3.75rem;
  width: auto;
  padding: 0.4px 2rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 4px 0px #2b2c2c;
}

header:hover {
  box-shadow: 0 1px 0 var(--mainLinkColor-dark);
}

.Logo-text {
  text-decoration: none;
  display: flex;
}

.logo-text-span {
  display: inline-block;
  letter-spacing: -1px;
  /* font-size: 1.5rem; */
  font-size: 24px;
  font-weight: 700;
  color: var(--mainLinkColor-dark);
  /* color: var(--main-link-color); */
}

.logo-text-span.A {
  color: var(--secondaryTextColor-dark);
  transform: rotate(20deg);
}

/* .logo-text-span.Aziz {
    color: var(--secondaryTextColor-dark);
    transform: rotate(-deg);
  } */
.logo-text-span.A:hover {
  color: var(--main-link-color);
  /* transform: translate(5px, 10px); */
}

.logo-text-span.Aziz:hover {
  color: var(--secondaryTextColor-dark);
  /* transform: translate(5px, 10px); */
}

.logo-text-span.Mahmoud:hover {
  color: var(--secondaryTextColor-dark);
  /* transform: translate(5px, 10px); */
}

.nav-open {
  overflow-y: hidden;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: center;
  width: 70%;
}

.toggle-check-box {
  display: none;
}

.nav-list {
  display: flex;
  margin-right: 0.8rem;
  justify-content: space-between;
  align-items: center;
}

.nav-list a {
  display: block;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondaryTextColor-dark);
  text-decoration: none;
}

.nav-list a:hover {
  color: var(--main-link-color);
  text-decoration: underline;
  font-weight: bold;
}

.dark-mode-toggle {
  /* z-index: 100; */
  display: block;
  background: transparent;
  /* border-radius: 5px; */
  cursor: pointer;
  opacity: 0.7;
  /* color: var(--secondaryTextColor-dark); */
  /* color: hsl(0deg, 0%, 100%); */
  border: none;
  padding: 0.25rem;
  outline: none;
}

.inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-wrapper > span {
  font-size: 1.2rem;
  color: var(--main-text-color);
}

.dark-mode-toggle:hover {
  opacity: 1;
  /* color: hsl(0deg, 0%, 100%); */
  /* fill: currentColor; */
}

.link-wrapper a {
  color: var(--secondaryTextColor-dark);
  text-decoration: none;
}

.link-wrapper a:hover {
  color: var(--main-link-color);
  text-decoration: underline;
  font-weight: bold;
}

.link-wrapper {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.contact-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2rem;
  line-height: 2;
}

.contact-links i {
  font-size: 1.3rem;
  color: #0da2b8;
  /* padding-left: 5px; */
}

.hero img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  max-width: 100%;
  /* box-sizing: content-box; */
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 38px;
}

.short-bio {
  /* font-size: 20px; */
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.skills {
  margin-top: 5rem;
}

.skills-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.skills ul li {
  color: hsl(0, 0%, 100%);
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid var(--mainBorderColor-dark);
  border-radius: 5px;
  margin-bottom: 0.4rem;
  line-height: 2rem;
}

.skills ul li:hover {
  border-top: 1px solid var(--main-link-color);
  border-left: 1px solid var(--main-link-color);
  border-bottom: 1px solid var(--main-link-color);
  border-right: 1px solid var(--main-link-color);
}

.skills ul li i {
  color: var(--main-text-color);
}

.skills ul li:hover i {
  animation: arrow 0.3s 1 0.5s;
  color: var(--main-link-color);
}

@keyframes arrow {
  0% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(5px);
  }
}
/* ==================Skills End================== */
.project-cardo {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  gap: 1.5rem;
  border-radius: 6px;
  padding: 0.5rem;
  /* box-shadow: 15px 16px 5px #000000; */
  margin-bottom: 2.6rem;
  /* box-shadow: 6px 6px 1px #a1a1a1; */
  border: 5px solid #2b2c2c;
}

.project-cardo:hover {
  border: 2px solid var(--main-link-color);
  box-shadow: none;
  /* background-color: #131415; */
  /* box-shadow: 8px 8px 2px #d0d0d0; */
  /* border: 2.5px solid #2b2c2c; */
}

@media screen and (max-width: 786px) {
  /* .projects-container {
      display: flex;
      flex-direction: column;
    } */
  .project-cardo {
    display: flex;
    flex-direction: column;
  }
  .project-links {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
  }
}
figure {
  flex: 1;
}

.project-image {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.project-content {
  flex: 1;
  font-size: 1.1rem;
  color: var(--secondaryTextColor-dark);
  font-weight: 500;
}

.proj-title {
  padding: 4px 2px;
  /* color: var(--main-link-color); */
  color: hsl(0, 0%, 100%);
}

.proj-title:hover {
  color: var(--main-link-color);
}

.proj-description {
  margin: 1rem 0;
  line-height: 1.8;
}

.project-links {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.view-project {
  display: flex;
  align-items: baseline;
}

.view-project span {
  margin-right: 0.4rem;
  color: hsl(0, 0%, 100%);
}

.project-links #highlight {
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 0;
  top: 25px;
  left: 15px;
  z-index: -1;
  transition: width 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: var(--mainLinkColor-dark);
  border-radius: 300px 300px 87px 87px;
  opacity: 0.5;
}

.project-links:hover #highlight {
  width: 106px;
  transform: skewX(20deg);
}

.project-links a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 1.2rem;
}

/* .project-links a:hover {
    scale: 1.1;
  } */
.project-links i {
  font-size: 0.8rem;
  /* padding-top: 15px; */
  transition: all 2s linear;
}

#second-arrow {
  opacity: 0;
}

.project-links:hover i {
  /* animation: view-project 1s 1 0.5s; */
  transform: translateX(9px);
  color: var(--main-link-color);
}

.project-links:hover #second-arrow {
  /* animation: view-project 1s 1 0.5s; */
  transform: translateX(9px);
  opacity: 1;
}

@keyframes view-project {
  0% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(15px);
  }
}
.view-all-projects {
  display: flex;
  justify-content: end;
  align-items: center;
}

.headline {
  border-bottom: 1px dashed rgb(43, 44, 44);
}

.view-all-projects:hover .headline {
  border-bottom: 1px dashed var(--main-link-color);
}

.view-all-projects h2 {
  display: flex;
  align-items: end;
  gap: 0.4rem;
}

.view-all-projects-arrow {
  color: var(--secondaryTextColor-dark);
  transition: transform 0.8s ease-in-out;
}

.view-all-projects:hover .view-all-projects-arrow {
  transform: skewX(20deg);
  color: var(--main-link-color);
}

.view-all-projects:hover .headline {
  color: var(--main-link-color);
}

/* *==================Posts-Section-Start==================* */
.featured-post {
  padding: 1.2rem;
  border-radius: 0.25rem;
  border: 5px solid var(--mainBorderColor-dark);
  /* background-color: ; */
  box-shadow: 0px 0px 0px var(--main-link-color);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.featured-post:hover {
  transform: translateY(-12px);
  box-shadow: 0px 1.8px 5px 2px var(--main-link-color);
}

.featured-post:hover {
  transform: translateY(-12px);
  box-shadow: 0px 1.8px 5px 2px var(--main-link-color);
}

.featured-post:hover .read-more {
  color: var(--main-link-color);
}

.featured-post:hover .post-title {
  color: var(--main-link-color);
}

.post-upper-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.4rem;
  color: var(--secondaryTextColor-dark);
}

.post-tags {
  display: flex;
  gap: 0.2rem;
  color: #5eddac;
}

.post-date {
  color: #5eddac;
}

.article-summary {
  color: var(--secondaryTextColor-dark);
  margin-bottom: 1rem;
}

.read-more {
  display: flex;
  align-items: center;
}

.read-more-arrow {
  padding-top: 4px;
}

.read-more i {
  transition: all 2s linear;
}

#post-second-arrow {
  opacity: 0;
}

.read-more:hover i {
  /* animation: view-project 1s 1 0.5s; */
  transform: translateX(9px);
  color: var(--main-link-color);
}

.read-more:hover #post-second-arrow {
  /* animation: view-project 1s 1 0.5s; */
  transform: translateX(9px);
  opacity: 1;
}

.view-all-posts {
  display: flex;
  align-items: center;
  justify-content: end;
}

.view-all-posts h2 {
  display: flex;
  align-items: end;
  gap: 0.4rem;
}

.headline {
  border-bottom: 1px dashed rgb(43, 44, 44);
}

.view-all-posts:hover .headline {
  border-bottom: 1px dashed var(--main-link-color);
}

.view-all-posts-arrow {
  color: var(--secondaryTextColor-dark);
  transition: transform 0.8s ease-in-out;
}

.view-all-posts:hover .view-all-posts-arrow {
  transform: skewX(20deg);
  color: var(--main-link-color);
}

.view-all-posts:hover .headline {
  color: var(--main-link-color);
}

/* *==================Posts-Section-End==================* */
/*  =========FORM=======  */
.form-sction {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container {
  /* width: clamp(275px, 50%, 500px); */
  width: clamp(300px, 60%, 500px);
  height: auto;
  /* max-width: 500px;
    min-width: 350px; */
  margin: 2rem auto;
  padding: 0.5rem 0.8rem;
  background-color: #0a0a0b;
  border-radius: 0.5rem;
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  border: 1px solid #0a0a0b;
}

.form-container:hover {
  border: 1px solid var(--main-link-color);
}

form {
  font-family: inherit;
}

.form-upper-text {
  text-align: left;
  font-size: 1.2rem;
}

.form-blockquote {
  font-size: 1.2rem;
}

/* .form-upper-text-quote {
    font-size: 3rem;
  } */
fieldset {
  border: none;
  padding: 0.5rem 0;
}

label {
  display: block;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  font-size: 1.1rem;
}

#first-name,
#email,
#subject {
  background-color: #000;
  outline: none;
  color: #fff;
  border-radius: 0.3rem;
  margin: 0.4rem 0 0.3rem 0;
  width: 100%;
  min-height: 3.2rem;
  text-indent: 0.7rem;
  /* border: 5px solid #131415; */
  /* outline: solid #0f1011 1px; */
  border: 5px solid #2b2c2c;
  text-indent: 1.5rem;
}

#first-name,
#email {
  font-size: 1.25rem;
}

/* #first-name:focus {
    border-bottom: 1px solid var(--main-link-color);
  } */
/* .personal-info:focus-within label[for="first-name"] {
    color: var(--mainLinkColor-dark);
  }

  .personal-info:focus-within label[for="email"] {
    color: var(--mainLinkColor-dark);
  } */
/* .personal-info:focus-within label[for="subject"] {
    color: var(--mainLinkColor-dark);
  } */
textarea {
  /* min-width: 250px; */
  min-height: 175px;
  max-width: 100%;
  height: 190px;
  resize: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.8rem;
  word-spacing: -4px;
}

input[type=submit] {
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  display: block;
  width: 120px;
  height: 2.8rem;
  margin: 0.8rem auto 0.8rem auto;
  font-size: 1.1rem;
  min-width: 80px;
  background-color: #000;
  color: #fff;
  border-radius: 0.3rem;
  outline: none;
  /* border: 5px solid #131415; */
  border: 5px solid #2b2c2c;
}

input[type=submit]:hover {
  border: 1px solid var(--main-link-color);
}

/*  =========FORM=======  */
/* FOOOOOOOOOOTER  */
footer {
  background-color: #0a0a0b;
  padding: 4rem 0px 0px 0px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2.5rem;
}

.copyright {
  text-align: left;
  color: var(--secondaryTextColor-dark);
  border-top: 4px solid #2b2c2c;
  margin: 4rem 0px 0px 0px;
  padding: 1.5rem 1rem;
  font-size: 1rem;
}

.copyright:hover {
  border-top: 1px solid var(--mainLinkColor-dark);
}

.built-with span,
a {
  text-decoration: none;
  color: inherit;
  /* transition: all 200ms ease-out; */
}

/* .built-with span {
    transition: all 1s ease-out;
  } */
/* ********** Icons & Text Animation ***************** */
.Astro:hover a {
  color: var(--main-link-color);
  text-decoration: underline;
}

.Astro:hover i {
  color: var(--main-link-color);
  animation: Astro 5s 0.5s linear;
}

.Netlify:hover a {
  text-decoration: underline;
  color: var(--main-link-color);
}

.Netlify:hover i {
  color: var(--main-link-color);
  animation: Netlify 5s 0.5s linear;
}

.ICE-CREAM {
  position: relative;
}

.stick-2 {
  position: absolute;
  left: 192px;
  /* left: 500px; */
  visibility: hidden;
  top: 4px;
}

.ICE-CREAM:hover span {
  color: var(--main-link-color);
}

.ICE-CREAM:hover i {
  color: var(--main-link-color);
  animation: IceCream 5s 0.5s linear;
  visibility: visible;
}

/* ********** Only Icons Animation ***************** */
.astro:hover {
  color: var(--main-link-color);
  animation: Astro 5s 0.5s linear;
}

@keyframes Astro {
  0% {
    transform: rotate(-45deg) translateY(-5px);
  }
  50% {
    transform: translateY(-100px) rotate(-45deg);
  }
  100% {
    transform: translateY(-5px) rotate(-45deg);
    /* transform: translateY(25px); */
  }
}
.netlify:hover {
  color: var(--main-link-color);
  animation: Netlify 5s 0.5s ease-in-out;
}

@keyframes Netlify {
  0% {
    transform: rotate(45deg) translateY(-5px);
  }
  50% {
    transform: translateY(-100px) rotate(180deg);
  }
  100% {
    transform: translateY(-7px) rotate(-90deg);
    /* transform: translateY(25px); */
  }
}
.ice-cream-stick:hover {
  color: var(--main-link-color);
  animation: IceCream 5s 0.5s ease-in;
}

@keyframes IceCream {
  0% {
    transform: rotate(45deg) translateX(15px);
  }
  50% {
    transform: translateY(-30px) rotate(-90deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
    /* transform: translateY(25px); */
  }
}
/* FOOOOOOOOOOTER  */
.line-break {
  background-color: var(--mainBorderColor-dark);
  height: 1px;
  max-width: 800px;
  margin: 0 auto;
}

.line-break:hover {
  background-color: var(--main-link-color);
}

/* ===============================Media Queries=============================== */
@media screen and (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
/* This media query for {Hamburger Menu} and screen with max-width:768px */
@media screen and (max-width: 768px) {
  /* This can stop the touch functionality on mobile screens */
  /* body {
      touch-action: none;
    } */
  .nav {
    display: flex;
  }
  .nav-list {
    position: fixed;
    left: 0;
    top: 0px;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem 0px 6rem 32px;
    margin: 0px 0px 2rem 0px;
    width: 100%;
    display: none;
    transition: 0.6s;
    background: hsla(210, 30%, 8%, 0.85);
    backdrop-filter: blur(8px);
  }
  .nav-list a {
    display: block;
    padding: 0.8rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--main-text-color);
    text-decoration: none;
  }
  .navbar-toggler {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 48px;
    z-index: 2;
  }
  .hamburger {
    position: absolute;
    bottom: 0.25rem;
    left: -0.3rem;
    width: 50px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: 0.4s ease-in;
  }
  .bar {
    height: 4px;
    width: 100%;
    background-color: var(--main-text-color);
    border-radius: 12px;
    margin-bottom: 0.5rem;
    transition: 0.4s;
    opacity: 1;
  }
  .toggle-check-box:checked ~ nav .nav-list {
    display: flex;
  }
  /* Menu Bars Transition Moves */
  .toggle-check-box:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    /* transform: rotate(45deg); */
    transform: translateY(5px);
  }
  .toggle-check-box:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    position: absolute;
    transform: translateY(10px);
  }
  .toggle-check-box:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    /* transform: rotate(-45deg); */
    position: absolute;
    transform: translateY(20px);
  }
  .toggle-check-box:checked ~ nav .navbar-toggler .hamburger {
    opacity: 100;
    z-index: 1;
  }
  .toggle-check-box:checked ~ nav .navbar-toggler .bar {
    z-index: -1;
    opacity: 0;
  }
  .nav-list {
    display: none;
  }
}
/* This media query for {navabr} and screen with max-width:675px */
@media screen and (max-width: 675px) {
  /* .nav {
      display: none;
    } */
  /* 
    body {
      overflow-y: hidden;
    }
    .main-container {
      overflow-y: hidden;
    } */
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .title {
    font-size: clamp(1.5rem, 50%, 2.5rem);
  }
  .short-bio {
    font-size: 1rem;
  }
  .skills {
    margin-top: 2rem;
  }
  .line-break {
    width: clamp(280px, 50%, 800px);
  }
  label {
    display: block;
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
    font-size: 1rem;
  }
  .main-container {
    max-width: 800px;
    padding-top: 0px;
    margin: 0px auto;
  }
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.2rem;
  }
  .form-sction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-container {
    width: clamp(290px, 80%, 450px);
    margin: 2rem 0.4rem 2rem 0.4rem;
    padding: 0.5rem 0.3rem;
  }
  /* //   END   // */
}
@media screen and (max-width: 480px) {
  .about-me {
    border-left: 1px solid var(--mainBorderColor-dark);
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: clamp(30ch, 50%, 60ch);
    /* width: 100%; */
    /* width: clamp(45ch, 50%, 60ch); */
  }
  /* Nav on/off over-flow test */
  /* .nav {
      display: none;
    } */
  /* header on/off over-flow test */
  /* header {
      display: none;
    } */
  /* hero on/off over-flow test */
  /* .hero {
      display: none;
    } */
  /* about-me on/off over-flow test */
  /* .about-me {
      display: none;
    } */
  /* .projects-container {
      display: none;
    } */
  /* .form-sction {
      display: none;
    } */
  /* footer {
      display: none;
    } */
  /* END */
}
/* *=========================* Main Conatianer *=========================* */
/* ===============================Global Styles=============================== */
/* ===============================LINKS-Start=============================== */
/* ===============================LINKS-End=============================== */
/* ==================Skills================== */
/* ==================Skills End================== */
/* ==================Projects-Section-Start================== */
/* ==================Projects-Section-End================== */
/* *==================Posts-Section-Start==================* */
/* *==================Posts-Section-End==================* */
/*  =========FORM=======  */
/* *=========================* Main Conatianer *=========================* */
/* FOOOOOOOOOOTER  */
/* ===============================Media Queries=============================== */
/*---------------- SCROLLBAR Styles-------------------- */

/*# sourceMappingURL=style.css.map */
