/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"); */

/* English Font ==> [IBM Plex Sans]*/

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

/* Arabic Font ==> [IBM Plex Sans Arabic] */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global Varibales */

:root {
  --main-background-color: #131415;
  --main-text-color: #fff;
  --secondaryTextColor-dark: #cbc8d0;
  --main-link-color: #0da2b8;
  --mainLinkColor-dark: rgb(30, 190, 214);
  --main-border-color: rgb(218, 218, 218);
  --mainBorderColor-dark: #2b3031;
}

/*Body*/

.nav-open {
  overflow-y: hidden;
  height: 100vh;
}

body {
  /* font-family: "Roboto Condensed", sans-serif; */
  /* font-family: "Source Code Pro", monospace; */
  /* font-family: "Fira Code", monospace; */

  font-family: "IBM Plex Sans", sans-serif;

  /* height: auto; */
  background: var(--main-background-color);
  color: var(--main-text-color);
}

:lang(ar) {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.main-container {
  max-width: 800px;
  padding-top: 5px;
  margin: 0px auto;
}

header {
  display: flex;
  align-items: center;
  height: 3.75rem;
  width: auto;
  padding: 5px 22px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

header:hover {
  box-shadow: 0 1px 0 var(--mainLinkColor-dark);
}

.Logo-text {
  text-decoration: none;
  display: flex;
}

.logo-text-span {
  display: inline-block;
  letter-spacing: -1px;
  /* font-size: 1.5rem; */
  font-size: 24px;
  font-weight: 700;
  color: var(--mainLinkColor-dark);
  /* color: var(--main-link-color); */
}

.logo-text-span.A {
  color: var(--secondaryTextColor-dark);
  transform: rotate(20deg);
}

/* .logo-text-span.Aziz {
  color: var(--secondaryTextColor-dark);
  transform: rotate(-deg);
} */

.logo-text-span.A:hover {
  color: var(--main-link-color);
  /* transform: translate(5px, 10px); */
}

.logo-text-span.Aziz:hover {
  color: var(--secondaryTextColor-dark);
  /* transform: translate(5px, 10px); */
}

.logo-text-span.Mahmoud:hover {
  color: var(--secondaryTextColor-dark);
  /* transform: translate(5px, 10px); */
}

.nav {
  display: flex;
  justify-content: center;
  width: 70%;
}

.toggle-check-box {
  display: none;
}

.nav-list {
  display: flex;
  margin-right: 0.8rem;
  justify-content: space-between;
  align-items: center;
}

.nav-list a {
  display: block;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondaryTextColor-dark);
  text-decoration: none;
}

.nav-list a:hover {
  color: var(--main-link-color);
  text-decoration: underline;
  font-weight: bold;
}

.dark-mode-toggle {
  /* z-index: 100; */
  display: block;
  background: transparent;
  /* border-radius: 5px; */
  cursor: pointer;
  opacity: 0.7;
  /* color: var(--secondaryTextColor-dark); */
  /* color: hsl(0deg, 0%, 100%); */
  border: none;
  padding: 0.25rem;
  outline: none;
}

.inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-wrapper > span {
  font-size: 1.2rem;
  color: var(--main-text-color);
}

.dark-mode-toggle:hover {
  opacity: 1;
  /* color: hsl(0deg, 0%, 100%); */
  /* fill: currentColor; */
}

/* ===============================Global Styles=============================== */

li {
  list-style: none;
  line-height: 1.5em;
}

section {
  margin: 1.5rem;
}

h1,
h2,
h3 {
  padding: 8px 2px;
}

p {
  line-height: 1.75rem;
}

.line-break {
  background-color: var(--mainBorderColor-dark);
  height: 1px;
  max-width: 800px;
  margin: 0 auto;
}

.line-break:hover {
  background-color: var(--main-link-color);
}

/* ===============================Global Styles=============================== */

/* ===============================LINKS-Start=============================== */

.link-wrapper a {
  color: var(--secondaryTextColor-dark);
  text-decoration: none;
}

.link-wrapper a:hover {
  color: var(--main-link-color);
  text-decoration: underline;
  font-weight: bold;
}

.link-wrapper {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.contact-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2rem;
  line-height: 2;
}

.contact-links i {
  font-size: 1.3rem;
  color: #0da2b8;
  /* padding-left: 5px; */
}

/* ===============================LINKS-End=============================== */

.web-emoji {
  color: #fff;
}

/* @keyframes flicker {
  0% {
    border: 1px solid var(--mainLinkColor-dark);
  }

  100% {
    border: 1px solid #0da2b8;
  }
} */

.hero img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  max-width: 100%;

  /* box-sizing: content-box; */
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 38px;
}

.short-bio {
  /* font-size: 20px; */
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

/* .about-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
} */

.about-me p,
.skills ul li {
  color: hsl(0deg, 0%, 100%);
  /* color: var(--main-text-color); */
}
/* 
.about-me-wrapper {
  width: clamp(45ch, 50%, 75ch);
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.about-me p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.about-me {
  border-left: 1px solid var(--mainBorderColor-dark);
  padding-left: 1.3rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* width: clamp(45ch, 50%, 75ch); */
  /* width: 100%; */
  width: clamp(45ch, 75%, 75ch);
  margin: 0px auto;
}

.about-me:hover {
  border-left: 1px solid var(--mainLinkColor-dark);
}

/* @media only screen and (min-width: 1024px) {
  .about-me {
    width: 75%;
    margin: 0 auto;
  }
} */

.about-name-text {
  /* cursor: context-menu; */
  font-size: 1.5rem;
  color: var(--main-link-color);
}

.about-me h3 a {
  text-decoration: none;
}

.full-about-me-desc {
  border: 1px solid var(--mainBorderColor-dark);
  border-radius: 5px;
  padding: 0.5rem;
}

.full-about-me-desc a {
  text-decoration: none;
  color: var(--main-link-color);
}

.full-about-me-desc a:hover {
  text-decoration: underline;
}

.Here-span:hover {
  font-size: 1.6rem;
  /* letter-spacing: 1.5px; */
}

.full-about-me-desc:hover {
  border: 1px solid var(--mainLinkColor-dark);
  /* font-weight: bold; */
}

/* ==================Skills================== */

.skills {
  margin-top: 5rem;
}
.skills-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.skills ul li {
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid var(--mainBorderColor-dark);
  border-radius: 5px;
  margin-bottom: 0.4rem;
  line-height: 2rem;
}

.skills ul li:hover {
  border-top: 1px solid var(--main-link-color);
  border-left: 1px solid var(--main-link-color);
  border-bottom: 1px solid var(--main-link-color);
  border-right: 1px solid var(--main-link-color);
}

.skills ul li i {
  color: var(--main-text-color);
}

/* .skills ul li i:hover {
  color: var(--main-link-color);
} */

.skills ul li:hover i {
  animation: arrow 0.3s 1 0.5s;
  color: var(--main-link-color);
}

@keyframes arrow {
  0% {
    transform: translateX(-25px);
  }

  100% {
    transform: translateX(5px);
  }
}

/* ==================Skills End================== */

/* ==================Projects-Section-Start================== */

/* .projects-section {
  margin: 5rem auto 3rem auto;
} */

.projects-full-preview-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(465px, 1fr));
  gap: 30px;
  /* width: 100%; */
  /* max-width: 1200px; */
  /* margin: 5rem auto 3rem auto; */
  padding: 0.5rem 0rem;
}

.project-preview-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* border-radius: 14px; */
}

.card {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: rgb(10, 10, 11);
  border-radius: 6px;
  overflow: hidden;
}

.content {
  padding: 20px;
}

.info {
  padding: 20px;
  border-top: 1px solid var(--mainBorderColor-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info:hover {
  border-top: 1px solid var(--main-link-color);
}

.info:hover i {
  animation: arrow 0.3s 1 0.5s;
  color: var(--main-link-color);
}

@keyframes info-card {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(-100px);
  }
}

.info a {
  text-decoration: none;
  color: var(--secondaryTextColor-dark);
  font-weight: bold;
  background-color: transparent;
}

/* .info i {
  color: var(--main-link-color);
} */

.card-img {
  width: 100%;
  max-width: 100%;
}

/* ==================Projects-Section-End================== */

/*  =========FORM=======  */

.form-container {
  width: clamp(275px, 50%, 500px);
  height: auto;
  /* max-width: 500px;
  min-width: 350px; */
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  background-color: #0a0a0b;
  border-radius: 0.5rem;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.form-container:hover {
  border: 1px solid var(--main-link-color);
}

form {
  font-family: inherit;
}

.form-upper-text {
  text-align: left;
  font-size: 1rem;
}

fieldset {
  border: none;
  padding: 0.5rem 0;
}

label {
  display: block;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  font-size: 1.1rem;
}

#first-name,
#email,
#subject {
  background-color: #000;
  outline: none;
  color: #fff;
  border-radius: 0.3rem;
  margin: 0.4rem 0 0.3rem 0;
  width: 100%;
  min-height: 2em;
  text-indent: 0.7rem;
  border: 5px solid #131415;
  /* outline: solid #0f1011 1px; */
}

#first-name,
#email {
  font-size: 1.25rem;
}

#first-name:focus {
  border-bottom: 1px solid var(--main-link-color);
}

/* .personal-info:focus-within label[for="first-name"] {
  color: var(--mainLinkColor-dark);
}

.personal-info:focus-within label[for="email"] {
  color: var(--mainLinkColor-dark);
} */

/* .personal-info:focus-within label[for="subject"] {
  color: var(--mainLinkColor-dark);
} */

textarea {
  /* min-width: 250px; */
  min-height: 175px;
  max-width: 100%;
  height: 190px;
  resize: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.8rem;
  word-spacing: -4px;
}

input[type="submit"] {
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  display: block;

  width: 120px;
  height: 2.8rem;

  margin: 0.8rem auto 0.8rem auto;
  font-size: 1.1rem;
  min-width: 80px;
  background-color: #000;
  color: #fff;
  border-radius: 0.3rem;
  outline: none;
  border: 5px solid #131415;
}

input[type="submit"]:hover {
  border: 1px solid var(--main-link-color);
}

/*  =========FORM=======  */

/* FOOOOOOOOOOTER  */

footer {
  background-color: #0a0a0b;
  padding: 4rem 0px 0px 0px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2.5rem;
}

.copyright {
  text-align: center;
  color: var(--main-text-color);
  border-top: 1px solid var(--mainBorderColor-dark);
  margin: 4rem 0px 0px 0px;
  padding: 1.5rem 0;
}
/* FOOOOOOOOOOTER  */

/* ===============================Media Queries=============================== */

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .hamburger {
    display: none;
  }
}

/* This media query for {Hamburger Menu} and screen with max-width:768px */

@media screen and (max-width: 768px) {
  /* This can stop the touch functionality on mobile screens */

  /* body {
    touch-action: none;
  } */

  .nav {
    display: flex;
  }

  .nav-list {
    position: fixed;
    left: 0;
    top: 0px;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem 0px 6rem 32px;
    margin: 0px 0px 2rem 0px;
    width: 100%;
    display: none;
    transition: 0.6s;
    background: hsla(210deg, 30%, 8%, 0.85);
    backdrop-filter: blur(8px);
  }

  .nav-list a {
    display: block;
    padding: 0.8rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--main-text-color);
    text-decoration: none;
  }

  .navbar-toggler {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 48px;
    z-index: 2;
  }

  .hamburger {
    position: absolute;
    bottom: 0.25rem;
    left: -0.3rem;
    width: 50px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    /* transition: 0.5s ease-in; */
  }

  .bar {
    height: 6px;
    width: 100%;
    background-color: var(--main-text-color);
    border-radius: 12px;
    margin-bottom: 0.5rem;
    transition: 0.4s;
    opacity: 1;
  }

  .toggle-check-box:checked ~ nav .nav-list {
    display: flex;
  }

  /* Menu Bars Transition Moves */

  .toggle-check-box:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    /* transform: rotate(45deg); */
    transform: translateY(5px);
  }

  .toggle-check-box:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    position: absolute;

    transform: translateY(10px);
  }

  .toggle-check-box:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    /* transform: rotate(-45deg); */
    position: absolute;
    transform: translateY(20px);
  }

  .toggle-check-box:checked ~ nav .navbar-toggler .hamburger {
    opacity: 100;
    z-index: 1;
  }

  .toggle-check-box:checked ~ nav .navbar-toggler .bar {
    z-index: -1;
    opacity: 0;
  }

  /* @keyframes hamburger {
    0% {
      transform: translateY(10px);
    }

    25% {
      transform: translateY(50px);
    }

    50% {
    }
    75% {
    }
    100% {
      transform: translateX(-100px);
    }
  } */

  .nav-list {
    display: none;
  }
}

/* This media query for {navabr} and screen with max-width:675px */

@media screen and (max-width: 675px) {
  /* .nav {
    display: none;
  } */
  /* 
  body {
    overflow-y: hidden;
  }
  .main-container {
    overflow-y: hidden;
  } */
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .title {
    font-size: clamp(1.5rem, 50%, 2.5rem);
  }

  .short-bio {
    font-size: 1rem;
  }

  .line-break {
    width: clamp(280px, 50%, 800px);
  }

  label {
    display: block;
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
    font-size: 1rem;
  }

  .main-container {
    max-width: 800px;
    padding-top: 0px;
    margin: 0px auto;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.2rem;
  }
}

@media screen and (max-width: 480px) {
  .projects-full-preview-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    /* width: 100%; */
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    /* padding: 4px 4px; */
    margin: 0px auto;
  }

  .about-me {
    border-left: 1px solid var(--mainBorderColor-dark);
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: clamp(30ch, 50%, 60ch);
    /* width: 100%; */
    /* width: clamp(45ch, 50%, 60ch); */
  }

  /* Nav on/off over-flow test */

  /* .nav {
    display: none;
  } */

  /* header on/off over-flow test */

  /* header {
    display: none;
  } */

  /* hero on/off over-flow test */

  /* .hero {
    display: none;
  } */

  /* about-me on/off over-flow test */

  /* .about-me {
    display: none;
  } */
}
/*---------------- SCROLLBAR Styles-------------------- */

::-webkit-scrollbar {
  width: 13px;
  background-color: #aaa;
}
::-webkit-scrollbar-track {
  background-color: var(--secondaryTextColor-dark);
  box-shadow: 0 0 10px #000 inset;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainLinkColor-dark);
  border-radius: 20px;
  height: 100px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-top: 60px solid hsla(219, 100%, 50%, 1);
  border-bottom: 60px solid hsla(219, 100%, 50%, 1)
    /*or any height and color you want*/;
}

/* ::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-top: 50px solid hsla(219, 100%, 50%, 1);
  border-bottom: 50px solid hsla(219, 100%, 50%, 1)
} */

/* ::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-link-color);
  border-radius: 20px;
} */
