.about-me p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: hsl(0, 0%, 100%);
}

.about-me {
  border-left: 1px solid var(--mainBorderColor-dark);
  padding-left: 1.3rem;
  /* display: flex;
    flex-direction: column;
    justify-content: center; */
  /* width: clamp(45ch, 50%, 75ch); */
  /* width: 100%; */
  width: clamp(45ch, 75%, 75ch);
  margin: 0px auto;
}

.about-me:hover {
  border-left: 1px solid var(--mainLinkColor-dark);
}

/* @media only screen and (min-width: 1024px) {
    .about-me {
      width: 75%;
      margin: 0 auto;
    }
  } */
.about-name-text {
  /* cursor: context-menu; */
  font-size: 1.5rem;
  color: var(--main-link-color);
}

.about-me h3 a {
  text-decoration: none;
}

.full-about-me-desc {
  border: 1px solid var(--mainBorderColor-dark);
  border-radius: 5px;
  padding: 0.5rem;
}

.full-about-me-desc a {
  text-decoration: none;
  color: var(--main-link-color);
}

.full-about-me-desc a:hover {
  text-decoration: underline;
}

.Here-span:hover {
  font-size: 1.6rem;
  /* letter-spacing: 1.5px; */
}

.full-about-me-desc:hover {
  border: 1px solid var(--mainLinkColor-dark);
  /* font-weight: bold; */
}
